@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(135deg, lightblue, lightgreen) no-repeat;
  font-family: "Share Tech Mono", monospace;
}

#header {
  text-align: center;
  padding: 30px 0;
}

h1 {
  margin: 0;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  height: clamp(6.5rem, 40vh, 75vh);
  width: clamp(6.5rem, 40vw, 75vw);
}

.cell {

  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 6.5rem;
}

.top {
  border-top: none;
}

.bottom {
  border-bottom: none;
}

.left {
  border-left: none;
}

.right {
  border-right: none;
}
